/*
*
*
0-600px:    Phone
600-900px:  Tablet Portrait
900-1200px  Tablet landscape
1200-1800px is where our normal styles apply
1800px +    Big Desktop
- phone
- tab-pot
- tab-land
- big-desktop
ORDER: Bae + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.4em) {
    html {
      font-size: 75%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.heading-primary, .header .title-primary {
  font-size: 5rem;
  color: #ffffff;
  line-height: 6rem;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .heading-primary, .header .title-primary {
      font-size: 4rem;
      line-height: 4.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary, .header .title-primary {
      font-size: 3rem;
      line-height: 4rem; } }

.heading-secondary, .header .title-secondary {
  font-size: 35px;
  color: #ffffff;
  line-height: 45px;
  font-weight: 400; }
  @media only screen and (max-width: 75em) {
    .heading-secondary, .header .title-secondary {
      font-size: 3rem;
      line-height: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary, .header .title-secondary {
      font-size: 2.5rem;
      line-height: 3.5rem; } }

.heading-primary-small {
  font-size: 3.5rem;
  line-height: 4.5rem; }

.heading-extra-small {
  font-size: 20px;
  line-height: 30px; }

.color-white {
  color: #ffffff !important; }

.color-black {
  color: #000000 !important; }

.text-bold {
  font-weight: 700; }

.divider {
  height: 1px;
  background-color: color-white-dark;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.label-blue {
  font-weight: bold;
  color: #127fad;
  text-align: left;
  width: 100%;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 0.5rem; }

.form-group {
  margin-bottom: 1rem; }
  .form-group .row {
    margin-bottom: 0; }

.form-help {
  font-size: 13px;
  overflow: hidden;
  clear: both; }

.rounded-btn {
  color: #ffffff;
  line-height: 3rem;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  border-radius: 3.5rem !important;
  padding: 1.1rem 3.5rem;
  border: 2px solid #ffffff;
  box-sizing: border-box; }
  .rounded-btn:hover {
    background-color: #0abc5f;
    border: 2px solid #0abc5f; }

.btn-transparent {
  background-color: transparent; }

.btn-warning {
  background-color: #e26234; }
  .btn-warning:hover {
    background-color: #e26234;
    border: 2px solid #e26234; }

.button {
  color: #ffffff;
  line-height: 2.6rem;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  border-radius: 5px !important;
  padding: 1.2rem 6rem;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background-color: #000000; }

.btn-success {
  background-color: #0abc5f; }
  .btn-success:hover {
    border: 2px solid #0abc5f;
    background-color: #ffffff;
    color: #0abc5f; }

.btn-primary {
  background-color: #127fad;
  border: 1px solid #127fad;
  color: #ffffff; }
  .btn-primary:hover {
    border: 1px solid #127fad;
    background-color: #ffffff;
    color: #127fad; }

.btn-hover-black:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000; }

.btn-remove-radius {
  border-radius: 0px !important; }
  .btn-remove-radius:hover {
    border-radius: 0px !important; }

.button-link {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  color: #0abc5f;
  text-transform: uppercase; }

.select-input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #dedede;
  padding-left: 10px;
  display: block;
  font-size: 1.6rem; }
  .select-input:focus {
    outline: none;
    border-color: #127fad;
    background: linear-gradient(180deg, #f0f0f0, #ffffff); }
  .select-input option {
    min-height: 2rem; }

.text-input {
  width: 100% !important;
  height: 45px !important;
  border-radius: 5px !important;
  outline: none !important;
  border: 1px solid #dedede !important;
  padding-left: 10px !important;
  display: block !important;
  font-size: 1.6rem !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }
  .text-input:focus {
    border-color: #127fad !important;
    background: linear-gradient(180deg, #f0f0f0, #ffffff) !important; }
  .text-input::placeholder {
    color: #c2bebf; }

.header {
  background-image: linear-gradient(to bottom, #5a61d9, #595ed3);
  padding-top: 2rem;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 75em) {
    .header {
      padding-top: 1rem; } }
  .header__top {
    min-height: 40rem;
    padding: 5rem 0; }
    @media only screen and (max-width: 75em) {
      .header__top {
        padding: 2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .header__top {
        padding: 1rem 0; } }
  .header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header .hero {
    margin-bottom: 2rem; }
    @media only screen and (min-width: 112.4em) {
      .header .hero {
        margin-bottom: 0; } }

.navigation {
  background-color: #5a61d9; }
  .navigation__nav {
    box-shadow: none;
    background-color: transparent; }
  .navigation #nav-mobile a {
    font-size: 1.5rem;
    font-weight: 500; }

.section-works {
  background-color: #ffffff;
  padding: 1.5rem 0; }

.steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }

.step {
  width: 20%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .step {
      width: 33%; } }
  @media only screen and (max-width: 56.25em) {
    .step {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .step {
      width: 100%; } }
  .step__image {
    width: 90%; }
    @media only screen and (max-width: 75em) {
      .step__image {
        width: 80%; } }
    @media only screen and (max-width: 56.25em) {
      .step__image {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .step__image {
        width: 50%; } }
  .step__content {
    padding: 10px; }
  .step__heading {
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.8rem; }
  .step__details {
    font-size: 15px;
    line-height: 2.5rem; }

.sign-up {
  text-align: center; }
  .sign-up__heading {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem; }

.services {
  background-image: linear-gradient(to bottom, #5a61d9, #595ed3);
  padding-top: 2rem;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .services {
      padding-top: 1rem;
      padding-bottom: 1.5rem; } }
  .services__content {
    text-align: center;
    margin-bottom: 4rem; }

.service {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2.5rem;
  margin: 2rem 1rem; }
  @media only screen and (max-width: 75em) {
    .service {
      padding: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .service {
      padding: 1rem;
      margin: 1rem 0rem; } }
  .service__heading {
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .service__heading {
        font-size: 1.8rem; } }
  .service__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    line-height: 3rem; }
  .service__image {
    margin-right: 10px; }
  .service__detail {
    font-size: 1.5rem;
    color: #323849;
    line-height: 2.8rem;
    margin-bottom: 1.5rem; }

.shopping {
  background-color: #efeef7;
  padding-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.8rem; }
  .shopping__content {
    padding-top: 3rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .shopping__content {
        padding-top: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .shopping__content {
        padding-top: 1rem; } }
  .shopping__detail {
    padding: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .shopping__detail {
        padding: 1rem 0; } }
  .shopping__bg {
    max-width: 90%; }
  .shopping__heading {
    padding: 2rem 0; }
  .shopping__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }

.owl-dot {
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  border-radius: 50%;
  background-color: #c2bebf !important; }

.owl-dots {
  margin-top: 4rem;
  text-align: center; }

.item {
  background-color: #ffffff;
  margin: 5px;
  position: relative;
  transition: all 0.5s ease; }

.shopping-sites {
  background-color: #ffffff;
  padding: 2rem 0;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .shopping-sites {
      padding: 1.5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .shopping-sites {
      padding: 1rem 0; } }
  .shopping-sites__carousel {
    margin-bottom: 2rem; }
  .shopping-sites__carousel--item {
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.33); }
  .shopping-sites__carousel--overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(235, 19, 59, 0.9) 0%, rgba(234, 19, 60, 0.9) 1%, rgba(160, 16, 134, 0.9) 100%);
    display: none; }
  .shopping-sites__link img {
    display: block;
    width: 50px !important; }
  .shopping-sites:hover__carousel--overlay {
    display: block; }

.item:hover .shopping-sites__carousel--overlay {
  transition: all 0.5s ease;
  display: block; }

.zoom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.shopping-sites__lists {
  background-color: #ffffff;
  padding-top: 15rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .shopping-sites__lists {
      padding-top: 10rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .shopping-sites__lists {
      padding-top: 5rem;
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .shopping-sites__lists {
      padding-top: 2rem;
      padding-bottom: 1rem; } }
  .shopping-sites__lists__header {
    text-align: center;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .shopping-sites__lists__header {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .shopping-sites__lists__header {
        margin-bottom: 1rem; } }
  .shopping-sites__lists__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .shopping-sites__lists__heading {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .shopping-sites__lists__heading {
        margin-bottom: 1rem; } }
  .shopping-sites__lists__details {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.8rem; }
  .shopping-sites__lists__filters {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .shopping-sites__lists__filters {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .shopping-sites__lists__filters {
        margin-bottom: 1rem; } }
    .shopping-sites__lists__filters .filter-menu .filter-button-group {
      display: flex;
      flex-direction: column; }
      .shopping-sites__lists__filters .filter-menu .filter-button-group .btn {
        margin-bottom: 5px; }
    .shopping-sites__lists__filters .grid-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .shopping-sites__lists__filters .filter-item {
      border: 1px solid red;
      margin: 5px;
      width: 24%; }
      .shopping-sites__lists__filters .filter-item img {
        max-width: 100%; }

.reviews {
  background-image: linear-gradient(90deg, #5a61d9, #50a1be);
  text-align: center;
  padding: 4rem 0; }
  @media only screen and (max-width: 75em) {
    .reviews {
      padding: 3rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .reviews {
      padding: 2rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .reviews {
      padding: .5rem 0; } }
  .reviews__header {
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .reviews__header {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .reviews__header {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .reviews__header {
        margin-bottom: 1rem; } }
  .reviews__count {
    font-size: 2rem;
    color: #ffffff;
    line-height: 3.5rem;
    text-align: center; }

.review {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 3rem 2.5rem; }
  @media only screen and (max-width: 75em) {
    .review {
      padding: 2.5rem 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .review {
      padding: 1rem .5rem; } }
  .review__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .review__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; }
    .review__user--thumb img {
      width: 6rem !important;
      height: 6rem !important;
      border-radius: 50%;
      margin-right: 15px; }
    .review__user--name {
      margin-bottom: 3px;
      font-weight: 500;
      font-size: 1.5rem;
      color: #000000;
      line-height: 2.6rem; }
    .review__user--country {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 1.4rem;
      color: #c2bebf;
      line-height: 2.2rem; }
  .review__body {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #323849;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .review__body {
        margin-bottom: 0; } }
  .review:hover {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4.5rem 2.5rem; }
    @media only screen and (max-width: 75em) {
      .review:hover {
        padding: 3.5rem 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .review:hover {
        padding: 3rem 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .review:hover {
        padding: 1rem .5rem; } }

.get-address {
  background-color: #efeef7;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 75em) {
    .get-address {
      padding-bottom: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .get-address {
      padding-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .get-address {
      padding-bottom: 0; } }
  .get-address__heading {
    margin-top: 10rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 75em) {
      .get-address__heading {
        margin-top: 8rem;
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .get-address__heading {
        margin-top: 5rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .get-address__heading {
        margin-top: 2rem;
        margin-bottom: 1rem; } }
  .get-address__detail {
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: #323849;
    margin-bottom: 3rem; }
  .get-address__button {
    display: flex;
    justify-content: center; }
  .get-address__thumb img {
    height: 50rem;
    max-width: 100%;
    text-align: center; }

.footer-top {
  background: #1a2024;
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: #ffffff;
  border-bottom: 1px solid #575656; }
  .footer-top__country-list {
    text-align: center; }
  .footer-top__country-list--item {
    color: #0abc5f;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 400;
    border-right: 1px solid #0abc5f;
    padding-left: 5px;
    padding-right: 5px; }
    .footer-top__country-list--item:last-child {
      border: none; }

.footer-menu__heading {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 2.8rem; }
  @media only screen and (max-width: 75em) {
    .footer-menu__heading {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer-menu__heading {
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer-menu__heading {
      margin-bottom: 1rem; } }

.footer-menu__details {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #d9e0e8;
  line-height: 2.6rem; }
  @media only screen and (max-width: 37.5em) {
    .footer-menu__details {
      margin-bottom: 0; } }

.footer-menu__logo {
  max-width: 100%; }

.footer-menu__single {
  margin-bottom: 1rem; }

.footer-menu__item {
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem; }

.footer-menu__link {
  color: #d9e0e8; }

.footer-bottom {
  background: #1a2024;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff; }
  .footer-bottom__social-menus--item {
    color: #ffffff;
    font-size: 13px;
    margin-right: 1rem;
    margin-left: 1rem; }
  .footer-bottom__content {
    display: flex;
    justify-content: space-between; }

.copyright-text {
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 2.8rem; }

@media only screen and (max-width: 56.25em) {
  .footer-top__menus .col {
    margin-bottom: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .footer-top__menus .col {
    margin-bottom: 2rem; }
    .footer-top__menus .col:last-child {
      margin-bottom: 0; } }

.how-it-works__bg {
  padding-top: 20rem;
  padding-bottom: 20rem;
  background: url(../img/how-it-works-bg.jpg);
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 75em) {
    .how-it-works__bg {
      padding-bottom: 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__bg {
      padding-bottom: 13rem; } }

.how-it-works__bottom {
  margin-top: -30rem; }

.how-it-works__header {
  text-align: center;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .how-it-works__header {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__header {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .how-it-works__header {
      margin-bottom: 2rem; } }
  .how-it-works__header p {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #ffffff;
    margin-top: 3rem; }

.how-it-works__steps {
  text-align: center;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 75em) {
    .how-it-works__steps {
      margin-bottom: 8rem; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__steps {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .how-it-works__steps {
      margin-bottom: 2rem; } }
  .how-it-works__steps--item--card {
    min-height: 40rem; }
    @media only screen and (max-width: 75em) {
      .how-it-works__steps--item--card {
        min-height: 45rem; } }
    @media only screen and (max-width: 56.25em) {
      .how-it-works__steps--item--card {
        min-height: 38rem; } }
    @media only screen and (max-width: 37.5em) {
      .how-it-works__steps--item--card {
        min-height: 38rem; } }

.how-it-works__steps--img {
  max-width: 90%; }
  @media only screen and (max-width: 75em) {
    .how-it-works__steps--img {
      max-width: 70%; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__steps--img {
      max-width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .how-it-works__steps--img {
      max-width: 40%; } }

.how-it-works__steps--heading {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 1.8rem;
  color: #000000;
  line-height: 2.7rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

.how-it-works__steps--detail {
  font-size: 1.5rem;
  line-height: 2.8rem;
  color: #323849; }

.how-it-works__supports--heading {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .how-it-works__supports--heading {
      margin-bottom: 2.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__supports--heading {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .how-it-works__supports--heading {
      margin-bottom: 1rem; } }

.how-it-works__supports--shopping-and-deliver {
  max-width: 90%;
  height: auto; }

.how-it-works__supports--details {
  font-size: 1.5rem;
  line-height: 2.8rem;
  color: #323849;
  margin-bottom: 2rem; }

.how-it-works__supports--steps__title {
  font-size: 1.7rem;
  color: #323849;
  line-height: 2.6rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5rem; }

.how-it-works__supports--steps__body {
  font-size: 1.5rem;
  line-height: 2.8rem;
  color: #323849;
  margin-bottom: 2rem; }

.how-it-works__supports--step__single {
  margin-bottom: 1.5rem;
  min-height: 23rem !important; }
  @media only screen and (max-width: 75em) {
    .how-it-works__supports--step__single {
      min-height: 21rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .how-it-works__supports--step__single {
      min-height: auto !important;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .how-it-works__supports--step__single {
      min-height: auto !important;
      margin-bottom: 0.5rem; } }

.item-no {
  color: #0abc5f;
  margin-right: 5px;
  font-weight: bold; }

.buy-for-me__bg {
  padding-top: 20rem;
  padding-bottom: 20rem;
  background: url(../img/buy-for-me-bg.jpg);
  background-size: cover;
  background-position: center center; }

.shipping-calculator {
  background-color: #ffffff; }
  .shipping-calculator .discount {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #595ed3;
    padding: 3rem;
    text-align: center;
    border-radius: 5px; }
  .shipping-calculator .discount-title {
    text-transform: uppercase;
    line-height: 4.8rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 4rem;
    opacity: 1;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out; }
    .shipping-calculator .discount-title .discount-amount {
      color: #f4524d; }

.weight-of-goods {
  border: 1px solid #f0932f;
  text-align: center;
  box-shadow: none; }
  .weight-of-goods__heading {
    margin-bottom: 3rem;
    line-height: 4.8rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 4rem; }
  .weight-of-goods__lists {
    display: flex;
    flex-wrap: wrap; }
  .weight-of-goods__item {
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.8rem; }
    .weight-of-goods__item--img {
      margin-bottom: 3.5rem; }
    .weight-of-goods__item--name {
      font-weight: 700;
      margin-bottom: 1rem; }

.shipping-companies {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400;
  border: 1px solid #f0932f;
  box-shadow: none;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  .shipping-companies__heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin-bottom: 3rem; }
  .shipping-companies__details {
    margin-bottom: 3rem;
    font-size: inherit; }
  .shipping-companies__lists {
    display: flex;
    flex-wrap: wrap; }
  .shipping-companies__item {
    width: 20%;
    text-align: center; }
    .shipping-companies__item--img {
      margin-bottom: 3rem; }
    .shipping-companies__item--name {
      color: #c2bebf; }

.shopping-help {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400; }
  .shopping-help-card {
    background-color: #595ed3;
    border: 1px solid #f0932f;
    box-shadow: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #ffffff;
    margin-bottom: 4rem;
    border-radius: 5px; }
  .shopping-help__heading {
    margin-bottom: 3rem;
    line-height: 4.8rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 4rem; }
  .shopping-help__heading {
    margin-bottom: 3rem;
    line-height: 4.8rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 4rem; }

.start-shop-and-ship {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400; }
  .start-shop-and-ship--card {
    border: 1px solid #f0932f;
    box-shadow: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .start-shop-and-ship__heading {
    font-size: 4rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .start-shop-and-ship__details--strong {
    margin-bottom: 4rem !important; }
  .start-shop-and-ship__img {
    margin-bottom: 2rem; }

.shipping-cost {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-weight: 400; }
  .shipping-cost--card {
    border: 1px solid #f0932f;
    box-shadow: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .shipping-cost__heading {
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 700;
    margin-bottom: 3rem; }

.shipping-country {
  font-size: 1.5rem;
  line-height: 2.8rem; }
  .shipping-country--card {
    background-color: #595ed3;
    border: 1px solid #f0932f;
    box-shadow: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }

.shipping-calculator .calculator {
  margin-bottom: 6rem;
  clear: both;
  overflow: hidden; }

.shipping-calculator__heading {
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 1rem; }

.shipping-calculator--card {
  border-radius: 10px; }

.shipping-calculator__btn {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem; }

.contact-informations {
  background-color: #ffffff;
  padding-top: 15rem;
  padding-bottom: 10rem; }
  .contact-informations .contact-information {
    text-align: center;
    color: #030712;
    font-size: 1.5rem;
    line-height: 2.8rem; }
    .contact-informations .contact-information__img {
      margin-right: -45px;
      margin-bottom: 2.5rem; }
    .contact-informations .contact-information__name {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 2.5rem;
      font-weight: 700; }
    .contact-informations .contact-information__details {
      margin-bottom: 2rem; }
    .contact-informations .contact-information__contact {
      color: #000000;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.6rem; }

.contact-form {
  background-color: #efeef7;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .contact-form__heading {
    text-align: center;
    font-size: 3.5rem;
    color: #030712;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .contact-form__details {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #030712;
    margin-bottom: 5rem; }
  .contact-form__form label {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    top: -10px; }
  .contact-form__submit {
    text-align: center; }

.blog-post__card {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #030712;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }
  .blog-post__card .card-title {
    font-weight: 700;
    margin-bottom: 2.5rem; }

.user-agreement {
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
  line-height: 2.8rem; }
  .user-agreement__heading {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 4.3rem;
    font-weight: 700; }

.prohibited-items {
  background-color: #ffffff;
  padding-top: 15rem;
  padding-bottom: 5rem; }
  .prohibited-items__header {
    text-align: center;
    margin-bottom: 5rem; }
  .prohibited-items__heading {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 4.3rem;
    font-weight: 700; }
  .prohibited-items__details {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #030712; }
  .prohibited-items__lists {
    list-style-type: circle; }
  .prohibited-items__item {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2.2rem; }
    .prohibited-items__item::before {
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 0;
      content: "\f111";
      font-family: "FontAwesome";
      font-size: 50%;
      background-color: #0abc5f;
      height: 7px;
      width: 7px;
      border-radius: 50%; }

.faq {
  background-color: #ffffff;
  padding-top: 15rem;
  padding-bottom: 5rem; }
  .faq__body {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #000000; }
    .faq__body .collapsible-header {
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .faq__header {
    margin-bottom: 4rem; }
  .faq__heading {
    font-size: 3.5rem;
    line-height: 4.3rem;
    font-weight: 700;
    text-transform: uppercase; }

.login {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-size: 1.5rem;
  line-height: 2.8rem; }
  .login label {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    top: -10px; }
