//BG

$bg-primary-light: #5a61d9;
$bg-primary-dark: #595ed3;
$bg-white: #ffffff;
$bg-grey-light: #efeef7;
$bg-grey-dark: #c2bebf;
$bg-light-blue: #50a1be;
$bg-dark-light: #1a2024;

$btn-bg-primary: #0abc5f;
$btn-bg-warning: #e26234;

$color-black: #000000;
$color-white: #ffffff;
$color-white-dark: #d9e0e8;
$color-secondary: #323849;

$border-grey-dark: #575656;
