.header {
  background-image: linear-gradient(
    to bottom,
    rgba($bg-primary-light, 1),
    rgba($bg-primary-dark, 1)
  );
  padding-top: 30px;
  padding-bottom: 10px;

  .title-primary {
    @extend .heading-primary;
  }
  .title-secondary {
    @extend .heading-secondary;
  }
  &__top {
    min-height: 40rem;
    padding: 5rem 0;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
