.buy-for-me__bg {
  padding-top: 20rem;
  padding-bottom: 20rem;

  @include respond(tab-land) {
    padding-bottom: 15rem;
  }

  @include respond(tab-port) {
    padding-bottom: 13rem;
  }
  @include respond(phone) {
  }

  background: url(../img/buy-for-me-bg.jpg);
  background-size: cover;
  background-position: center center;
}
