.footer-top {
  background: $bg-dark-light;
  padding-top: 5rem;
  padding-bottom: 2rem;

  color: $color-white;

  border-bottom: 1px solid $border-grey-dark;

  &__country-list {
    text-align: center;
  }

  &__country-list--item {
    color: $btn-bg-primary;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 400;
    border-right: 1px solid $btn-bg-primary;
    padding-left: 5px;
    padding-right: 5px;

    &:last-child {
      border: none;
    }
  }
}

.footer-menu {
  &__heading {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-white;
    line-height: 2.8rem;

    @include respond(tab-land){
    margin-bottom: 2rem;
     }
    @include respond(tab-port){
      margin-bottom: 1.5rem;
     }
    @include respond(phone){
      margin-bottom: 1rem;
     }
  }
  &__details {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-white-dark;
    line-height: 2.6rem;

    @include respond(phone){
      margin-bottom: 0;
     }
  }

  &__logo{
    max-width: 100%;
  }

  &__single {
    margin-bottom: 1rem;
  }
  
  &__item {
    margin-bottom: 1.2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  &__link {
    color: $color-white-dark;
  }
}

.footer-bottom {
  background: $bg-dark-light;
  padding-top: 2rem;
  padding-bottom: 2rem;

  color: $color-white;

  &__social-menus--item {
    color: #ffffff;
    font-size: 13px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.copyright-text {
  font-weight: 500;
  font-size: 1.8rem;
  color: $color-white;
  line-height: 2.8rem;
}


.footer-top__menus{


  .col{

    @include respond(tab-port){
      margin-bottom: 3rem;
     }
    @include respond(phone){
      margin-bottom: 2rem;

      &:last-child{
        margin-bottom: 0;
      }
     }
  }

}