.get-address {
  background-color: $bg-grey-light;
  padding-bottom: 2rem;

  @include respond(tab-land){
    padding-bottom: 1.5rem;
   }
  @include respond(tab-port){
    padding-bottom: 1rem;
   }
  @include respond(phone){
    padding-bottom: 0;
   }

  &__heading {
    margin-top: 10rem;
    margin-bottom: 3rem;

    @include respond(tab-land){
      margin-top: 8rem;
    margin-bottom: 2.5rem;
     }
    @include respond(tab-port){
      margin-top: 5rem;
      margin-bottom: 2rem;
     }
    @include respond(phone){
      margin-top: 2rem;
      margin-bottom: 1rem;
     }
  }

  &__detail {
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: $color-secondary;

    margin-bottom: 3rem;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__thumb img {
    height: 50rem;
    max-width: 100%;
    text-align: center;
  }
}
